*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.green{
    border-radius: 50%;
    border: 2px solid green;
    color: green;
    text-align: center;
    height: 20px;
    width: 20px;
    padding-left: 3px;

}
.red{
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    text-align: center;
    height: 20px;
    width: 20px;
    padding-left: 3px;

}
.toboo{
    /* height: 70px;
    margin-left: 10px;
    margin-top: 10px; */
    vertical-align: middle;
    padding-left: 10px;
    }
.img{
    vertical-align: middle;
}
.header-title{
    display: inline-block;
    vertical-align: middle;
}
.button{
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    opacity: 0.5;
}
.bg-main{
    height: auto;
    background-color: rgb(216, 212, 212);
}
.border-main{
    border-radius: 10px;
    padding: 30px 100px;
}
.contain{
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
}
.position{
    padding-inline-start: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(186, 186, 186);
}
.sky{
    background-color: aqua;
}
/* .forma{
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
} */
ul{
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
.list-title{
    margin: 10px;
}
.editorial {
    background-color: rgb(0, 155, 155);
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
}
.q1{
    background-color: purple;
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
}
.recruiting{
    background-color: green;
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
}
.mobile{
    background-color: orange;
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
}
.website{
    background-color: pink;
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
}
.sales{
    background-color: rgb(113, 128, 0);
    border: 2px hidden black;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 3px;
    color: white;
}
